# This file contains common pin mappings for the BIGTREETECH EBBT36 Gen2 V1.0.
# To use this config, the firmware should be compiled for the 
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)".

# change the mcu section name to the tool board you are configuring:
# EBBT4, EBBT4, etc.
[mcu EBBT4]

canbus_uuid:6bd8c1a46159


# change the accelerometer section name to the tool you are configuring:
# T0, T1, etc.
[lis2dw T4]
cs_pin: EBBT4:PB1
spi_software_sclk_pin: EBBT4:PB10
spi_software_mosi_pin: EBBT4:PB11
spi_software_miso_pin: EBBT4:PB2
axes_map: x,y,z

# change to the extruder section you are configuring:
# extruder, extruder1, etc.
[extruder4] # Orbiter2.5 with CHCB-V Hotend
step_pin: EBBT4:PB14
dir_pin: !EBBT4:PA8
enable_pin: !EBBT4:PB6
heater_pin: EBBT4:PB4
sensor_pin: EBBT4:PA3
pullup_resistor: 2200
microsteps: 16
rotation_distance: 43.187
gear_ratio: 50:10	
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 290
pressure_advance: 0.03
sensor_type: ATC Semitec 104NT-4-R025H42G
#pullup_resistor: 2000
max_extrude_cross_section: 5
max_extrude_only_distance: 101
control: pid
pid_Kp: 21.977 # Reduce gain to make response gentler
pid_Ki: 2.035  # Reduce accumulated correction
pid_Kd: 59.337    # Increase damping to resist sharp swings

# change the tmc2209 section name to match the extruder you are configuring:
# extruder, extruder1, etc.
[tmc2209 extruder] # Orbiter2.5
uart_pin: EBBT4:PB3
run_current: 0.65
stealthchop_threshold: 999999

# change the heater_fan section name to match the tool you are configuring:
# T0_hotend_fan, T1_hotend_fan, etc.
[heater_fan T4_hotend_fan]
pin: EBBT4:PD2
heater: extruder4 # change to match the extruder you are configuring: extruder, extruder1, etc.
heater_temp: 50.0
tachometer_pin: EBBT4:PA4
tachometer_ppr: 2

[multi_pin T4_multipin]
pins: EBBT4:PD3, EBBT4:PA5

# change the fan_generic section name to the tool you are configuring:
# T0_partfan, T1_partfan, etc.
[fan_generic T4_part_fan]
pin: multi_pin:T4_multipin

# change the tool section name to the tool you are configuring:
# T0, T1, etc.
[tool T4]
tool_number: 4 # change to the index of the tool. 0, 1, 2, etc.
extruder: extruder4 # change to match the extruder you are configuring: extruder, extruder1, etc.
fan: T4_part_fan
detection_pin: ^EBBT4:PB8
params_park_x: 269.70 # The absolute X-position of the tool in its dock.
params_park_y: 7.40 # The absolute Y-position of the tool in its dock.
params_park_z: 251.00 # The absolute Z-position where the tool and shuttle mate in the dock, determined when the TAP (or Z-probe) triggers.
gcode_x_offset: -0.020
gcode_y_offset: 0.550
gcode_z_offset: -0.233

# Results from input shaper
# Uncomment the following lines if you have input shaper results for this tool
params_input_shaper_freq_x: 77.0
params_input_shaper_type_x: '3hump_ei'
params_input_shaper_damping_ratio_x: 0.084
params_input_shaper_freq_y: 28.0
params_input_shaper_type_y: 'mzv'
params_input_shaper_damping_ratio_y: 0.078

# change the neopixel section name to the tool you are configuring:
# T0, T1, etc.
[neopixel T4]
pin: EBBT4:PC7
color_order: GRBW
chain_count: 23
initial_RED: 0.5
initial_GREEN: 0.0
initial_BLUE: 0.5
initial_WHITE: 0.0

# change the gcode_macro section name to the tool you are configuring:
# T0, T1, etc.
[gcode_macro T4]
variable_active: 0 # Must be zero.
variable_color: "" # Leave empty
gcode:
    SELECT_TOOL T=4 # change to the index of the tool. 0, 1, 2, etc.

#####################################################################
#   Filament Sensor
#####################################################################
[filament_switch_sensor filament_sensor T4]
switch_pin: EBBT4:PA15
pause_on_runout: True    

[temperature_sensor EBB36_Tool_4 T4]
sensor_type: Generic 3950
sensor_pin: EBBT4:PA0
pullup_resistor: 2200